{% extends "base1.html" %}
{% load static %}


{% block 'head' %}

<link
    rel="stylesheet"
    href="{% static 'usuarios/css/usuarios.css' %}"
>

{% endblock 'head' %}



{% block 'body' %}

<div class="container-fluid">

    <div class="row">


        <!-- =====================================================
             IMAGEM LATERAL
        ====================================================== -->

        <div
            class="
                col-md-2
                d-none
                d-md-flex
                justify-content-center
                bg-img
            "
        >
        </div>



        <!-- =====================================================
             ÁREA DO FORMULÁRIO
        ====================================================== -->

        <div
            class="
                col-12
                col-md-10
                d-flex
                justify-content-center
                bg-color-dark
                form-auth
            "
        >


            <div class="container-form">


                <!-- =================================================
                     LOGO
                ================================================== -->

                <h1 class="text-logo">
                    START.SE
                </h1>


                <h1>
                    Cadastre-se
                </h1>



                <!-- =================================================
                     MENSAGENS DO DJANGO
                ================================================== -->

                {% if messages %}

                    <br>

                    {% for message in messages %}

                        <section class="alert {{ message.tags }}">

                            {{ message }}

                        </section>

                    {% endfor %}

                {% endif %}



                <br>



                <!-- =================================================
                     FORMULÁRIO
                ================================================== -->

                <form
                    action="{% url 'cadastro' %}"
                    method="POST"
                >

                    {% csrf_token %}



                    <!-- =================================================
                         USERNAME
                    ================================================== -->

                    <label for="username">
                        Username
                    </label>


                    <input
                        type="text"
                        class="form-control input-pers"
                        id="username"
                        name="username"
                        placeholder="Digite seu username"
                        required
                    >


                    <br>



                    <!-- =================================================
                         TIPO DE UTILIZADOR
                    ================================================== -->

                    <label for="tipo_usuario">
                        Tipo de utilizador
                    </label>


                    <select
                        class="form-control input-pers"
                        id="tipo_usuario"
                        name="tipo_usuario"
                        required
                    >

                        <option
                            value=""
                            selected
                            disabled
                        >
                            Selecione o tipo de utilizador
                        </option>


                        <option value="ESTUDANTE">
                            Estudante
                        </option>


                        <option value="PATROCINADOR">
                            Patrocinador
                        </option>


                    </select>


                    <br>



                    <!-- =================================================
                         SENHA
                    ================================================== -->

                    <label for="senha">
                        Senha
                    </label>


                    <input
                        type="password"
                        class="form-control input-pers"
                        id="senha"
                        name="senha"
                        placeholder="Digite sua senha"
                        required
                    >


                    <br>



                    <!-- =================================================
                         CONFIRMAR SENHA
                    ================================================== -->

                    <label for="confirmar_senha">
                        Confirmar senha
                    </label>


                    <input
                        type="password"
                        class="form-control input-pers"
                        id="confirmar_senha"
                        name="confirmar_senha"
                        placeholder="Confirme sua senha"
                        required
                    >



                    <!-- =================================================
                         BOTÃO
                    ================================================== -->

                    <div class="centralizar">


                        <input
                            type="submit"
                            class="btn btn-indigo"
                            value="Cadastrar"
                        >


                        <br>


                        <a
                            href="{% url 'login' %}"
                            class="texto"
                        >
                            Já possuo uma conta
                        </a>


                    </div>


                </form>


            </div>


        </div>


    </div>


</div>

{% endblock 'body' %}